* ,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh; 
    margin: 0;
    background-color: hsl(30, 38%, 92%);
    min-height: 50rem;
}

.card {
    width: min(25rem, 90%); 
    /*25rem = 25 * 16px = 400px (default browser font size) */
    background-color: hsl(0, 0%, 100%);
    border-radius: 1rem; 
}

.hero__img {
    width: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.content {
    padding: clamp(1.5rem,2vw,2.5rem);
}

.prod__category {
    font-size: clamp(0.3rem, 0.6rem, 1.5rem);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: hsl(228, 12%, 48%);
    letter-spacing: clamp(0.2rem,0.3vw,1rem);
}

.prod__title {
    margin-top: clamp(1rem,1rem,2rem);
    margin-bottom: clamp(1rem,1rem,2rem);
    font-size: clamp(1.8rem, 1.8rem, 2rem);
    line-height: clamp(2rem,2rem,2.5rem);
    font-family: 'Fraunces', sans-serif;
    font-weight: 700;
    color: hsl(212, 21%, 14%);
}

.prod__description {
    line-height: 1.5;
    font-size: clamp(0.5rem,0.9rem,1rem);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: hsl(228, 12%, 48%);
}


.price {
    display: flex;
    margin-top: clamp(1.25rem, 1.25rem, 2.5rem);
    margin-bottom: clamp(1.25rem, 1.25rem, 2.5rem);

}

.price__current {
    font-size: clamp(2rem,2rem,2.3rem);
    font-family: 'Fraunces', sans-serif;
    font-weight: 700;
    color: hsl(158, 36%, 37%);
}


.price__original {
    display: flex;
    align-items: center; 
    text-decoration: line-through;
    font-family: 'Montserrat', sans-serif;
    padding-left: 1rem;
    font-size: clamp(0.8rem, 0.8rem, 1rem);
    font-weight: 500;
    color: hsl(228, 12%, 48%);
}

.cart__btn {
    width: 100%;
    padding: clamp(0.8rem,0.8rem,1.6rem);
    background-color: hsl(158, 36%, 37%);
    border: none;
    border-radius: 0.625rem;
}

.cart__btn:active {
    background-color: hsl(158, 42%, 18%);
}

.cart__text {
    padding: .5rem;
    font-size: clamp(0.8rem,0.8rem,1.1rem);
    color: hsl(0, 0%, 100%);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

@media (min-width: 64rem) /*1024px*/ {
    .card{
        display: flex;
        flex-direction: row;
        width: clamp(600px, 40vw, 85rem);
        max-width: 35%;
        max-height: 50%;
    }
    .hero{
        flex: 1.25;
    }

    .hero__img {
        width: 100%;
        height: 100%;
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
        border-top-right-radius: 0%;
        object-fit: cover;
    }

    .content {
        flex: 1;
    }

    .prod__title {
        padding-right: 3rem;
    }
    .cart__icon{
        width: clamp(0.8rem, 0.5rem, 1rem);
    }

}